html {
    background: #ffffff;
}

.region-content img {
    border: 1px solid grey;
    padding: 7px;
}

/* drupal overrides */
.tabs--primary.nav-tabs a {
    background: rgba(255, 255, 255, .7);
}

.tabs--primary.nav-tabs a,
.tabs--primary.nav-tabs a.active,
.nav-tabs > li > a:hover {
    border: solid 1px rgba(76, 153, 211, .3);
    border-bottom-color: transparent;
}