/** 
 * HOMEPAGE HEADER REGION 
 **/ 
.region-header {
    color:white;
}
.region-header-text .content h3 {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: normal;
}
.region-header-text .content a {
    color: white;
    border: solid 3px white;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 30px;
}
.region-header-text .content a:hover {
    background-color: rgba(255, 255, 255, .4);
    text-decoration: none;
}
/* the jumbotron wrapper messes with the location of the context button */
.region-header-text .contextual-links-wrapper {
    top: 100px;
    right: 100px;
}
/* I just want to make the contextual links more obvious on these dark images */
.region-header-text .contextual-links-trigger {
    border: solid 3px white;
    height: 25px;
    width: 40px;
}