/* hack to hide label on search field in admin bar - it was making the admin bar taller because it was wrapping*/
#admin-menu-wrapper label.control-label {
    display: none;
}

.footer {
    background: #ffffff;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}