/* hack to hide label on search field in admin bar - it was making the admin bar taller because it was wrapping*/
#admin-menu-wrapper label.control-label {
    display: none;
}

.footer {
    background: #dbf0ff;
    border-top: 1px solid #4C99D3;
    text-align: left;
}
.footer .block + .block {
    border-top-width: 0px;
}
.footer .block {
    padding: 0rem 0;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}