/* HOME PAGE */
.front .main .block-title {
    text-align: center;
}
.front .main .block h3 a {
    color: grey;
}
.front .main .block {
    margin-bottom: 3em;
}

/* PROJECT PAGES */
.field-name-field-attached-files .field-items {
    font-size: .9em;
}
.region-content .field-name-field-attached-files img {
    border-width: 0px;
}